body{
    background-color: #b8afaf;
}
h1{
    background: #dbd0d0;
    margin: 10PX;
    padding: 10PX;
    color: rgb(96, 93, 93);
}
.para1{
background: rgb(13, 117, 244);
margin: 0;
padding: 0;
}
.para2{
    background: rgb(42, 151, 240);
    margin: 0;
padding: 0;
}
.para3{
    background: rgb(67, 168, 241);
    margin: 0;
padding: 0;
}
.para4{
    background: rgb(115, 194, 243);
    margin: 0;
padding: 0;
}
.para5{
    background: rgb(127, 208, 243);
    margin: 0;
padding: 0;
}
.para6{
    background: rgb(131, 206, 239);
    margin: 0;
padding: 0;
}
.para7{
    background: rgb(148, 229, 245);
    margin: 0;
padding: 0;
}
.para8{
    background: rgb(37, 165, 131);
    margin: 0;
padding: 0;
}
.para9{
    background: rgb(246, 133, 175);
    margin: 0;
padding: 0;
}
.para10{
    background: rgb(253, 112, 211);
    margin: 0;
padding: 0;
}
.para11{
    background: rgb(227, 124, 201);
    margin: 0;
padding: 0;
}
.para12{
    background: rgb(232, 95, 191);
    margin: 0;
padding: 0;
}
.para13{
    background: rgb(225, 104, 155);
    margin: 0;
padding: 0;
}
.para14{
    background: rgb(248, 37, 202);
    margin: 0;
padding: 0;
}
.para15{
    background: rgb(247, 2, 157);
    margin: 0;
padding: 0;
}